@import 'mixin.scss';

@include tablet {
  .post-content {
    img {
      width: 100%;
    }
  }
}

.post-header-title {
  color: #fff;
  width: 980px;
  background-color: #734993;
  margin-left: -330px;
  text-align: right;
  padding-right: 15px;

  @include tablet {
    width:100% !important;
    margin-left: -20px !important;
  }

  h1 {
    font-weight: bold;
  }
}

.post-title {
  margin-bottom: -6px;

  @include tablet {
    padding-top: 10px;
    padding-right: 10px;
  }
}
.post-meta {
  padding-bottom: 18px;

  @include tablet {
    padding-bottom: 15px;
    padding-right: 10px;
  }
}

.post {
  h2 {
    color: #734993;
    font-weight: bold;
  }

  h4 {
    color: #734993;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 1.2rem;
  }

  th, a {
    color: #734993;
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #734993;
    padding-left: 5px;
  }

  .post-content {
    hr {
      border: 1px solid #734993;
    }
  }
}
