---
title: Open Source
---
{% include head.html %}
<script>
  window.location.href = "/"
</script>
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="../scripts/slick/slick.js"></script>
        <title>Sky Developers</title>
    </head>

    <body>
        <div class="polaris-wrapper opensource">
            <section class="hero-container">
                <div class="hero-wrapper">
                  <img class="hero-banner" src="../images/assets/opensource.jpg" />
                </div>
            </section>
            <div class="tile-container">
                {% for project in site.data.projects %}
                {% capture project_url %}//github.com/{{project.author}}/{{project.name}}{% endcapture %}
                <div class="tile small">
                    <div class="tile-inner">
                        <a class="tile-link" href="{{project_url}}">
                            <div class="tile-bg"></div>
                            <div class="tile-media">
                                <span class="mega-octicon octicon-repo" style="color: #{{project.colour}}"></span>
                            </div>
                            <div class="tile-content">
                                <div class="tile-content-inner">
                                    <h2 class="tile-title project" href="{{project_url}}">{{project.name}}</h2>
                                    <h4 class="project"><i>{{project.description}}</i></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <section>
                        <div class="shine top"></div>
                        <div class="shine bottom"></div>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
