<script>
    $(document).ready(function(){
        $("img").error(function(){
            $(this).attr('src', '/images/assets/noImage.jpg');
        });
    });
</script>

<footer class="container footer">
  <div class="footer__inner">
    <div class="footer__section">
      <h5 class="footer__section-title">Explore Sky</h5>
      <ul class="footer__links-list">
        <li><a href="https://corporate.sky.com">Sky Corporate</a></li>
        <li><a href="https://careers.sky.com">Careers</a></li>
        <li><a href="http://sky.com">sky.com</a></li>
        <li><a href="http://nowtv.com">nowtv.com</a></li>
        <li><a href="http://skysports.com">skysports.com</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h5 class="footer__section-title">Our Links</h5>
      <ul class="footer__links-list">
        <li><a href="/">Blog</a></li>
        <li><a href="/meetups">Events and Talks</a></li>
        <li><a href="/workforus">Work for us</a></li>
      </ul>
    </div>

    <div class="text--legal footer__copyright">&copy; 2016 Sky UK</div>
  </div>
</footer>
