<script>
    $(document).ready(function(){
        $("img").error(function(){
            $(this).attr('src', '/images/assets/noImage.jpg');
        });
    });
</script>

<footer class="container footer">
  <div class="footer__inner">
    <div class="footer__section">
      <h5 class="footer__section-title">Explore Sky</h5>
      <ul class="footer__links-list">
        <li><a href="#">Sky Corporate</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">sky.com</a></li>
        <li><a href="#">nowtv.com</a></li>
        <li><a href="#">skysports.com</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h5 class="footer__section-title">Our Links</h5>
      <ul class="footer__links-list">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Events and Talks</a></li>
        <li><a href="#">Work for us</a></li>
      </ul>
    </div>

    <div class="text--legal footer__copyright">&copy; 2016 Sky UK</div>
  </div>
</footer>
